<p>You've learned HTML and CSS—and probably some Javascript and PHP. Did you ever wonder why you need four separate languages to create a web application? Is there a better, more unified solution? If you've been looking for an easy-to-learn, rapid application development environment, Ruby on Rails is for you.</p>

  <p>Ruby on Rails—commonly called just "Rails"—is an increasingly popular language and framework for creating web applications. The Rails framework provides templates to complete common tasks, such as:

  ·Retrieving Web Service Content

  ·Querying a Database

  ·Creating and Using Page Templates

  ·Much, much more!</p>

  <p>Because templates are already part of the Rails framework, you'll spend less time architecting and coding common tasks. The Rails framework is a time saver that doesn't sacrifice power or flexibility.</p>

  <p>New jobs are posted daily for prepared Ruby on Rails developers. Increase your opportunities—whether you work as a contractor, freelancer, or you're looking for a full-time job—by learning this important framework and language.</p>

  <p>Instructor Daniel Lefevbre is both a Rails expert and an understanding teacher. Daniel will guide you through this excellent course, taking a patient, step-by-step approach to the material. You'll learn through Daniel's exciting lectures and engaging lab exercises that teach you the ins and outs of the framework.
</p>
